html, body {

    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
input:focus,
button:focus {
    outline: none;
}
.wrapper {
    position: relative;
}
.header {
    background-color: #f58023;
    min-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
.sidebar {
    background-color: #344756;
    width: 240px;
    position: absolute;
    left: 0;
    min-height: 100%;
    padding-top: 60px;
}
.content {
    padding-left: 240px;
    padding-top: 60px;
    width: 100%;
    min-height: 100vh;
}
.page-content {
    padding: 20px;
}
.breadcrumb {
    background-color: #3f5467;
    border-radius: 0;
    margin-bottom: 0;
    min-height: 46px;
}
/******************** logo ********************/
.header .logo {
    float: left;
    margin-right: 10px;
}
/******************** account ********************/
.header .account {
    float: right;
    margin-right: 10px;
}
.account .dropdown {
    color: #ffffff;
}
.account .dropdown .dropdown-toggle {
    border: medium none;
    background-color: transparent;
    padding: 10px;
    min-height: 60px;
    line-height: 38px;
}
.account .dropdown .dropdown-toggle:hover {
    background-color: #ef7719;
}
.account .dropdown .dropdown-toggle .avatar {
    border-radius: 20px;
    float: left;
    margin-right: 6px;
}
.account .dropdown .dropdown-toggle .caret {
    float: right;
    margin: 18px 0 0 6px;
    display: block;
    border-top: 4px solid #ffffff;
}
.account .dropdown .dropdown-menu::before {
    content: "";
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;

}
.account .dropdown .dropdown-menu {
    border: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-radius: 0;
    margin: 0;
    padding: 0;
    right: 0;
    left: auto;
}
.account .dropdown .dropdown-menu li {
    border-bottom: 1px solid #eeeeee;
}
.account .dropdown .dropdown-menu li:last-child {
    border-bottom: medium none;
}
.account .dropdown .dropdown-menu li a {
    cursor: pointer;
    padding: 6px 10px;
}
.account .dropdown .dropdown-menu li a i {
    color: #666666;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 14px;
}
.account .dropdown .dropdown-menu li a i.fa-envelope {
    font-size: 12px;
}
.account .dropdown .dropdown-menu li a .badge {
    padding: 2px 4px;
    border-radius: 2px;
    display: block;
    float: right;
    color: #ffffff;
    background-color: #f6bb42;
    font-size: 11px;
    min-height: 18px;
    min-width: 18px;
    text-align: center;
    line-height: 14px;
    font-weight: normal;
}
/******************** nofitication ********************/
.header .notification {
    float: right;
    margin-right: 10px;
}
.notification .dropdown {
    color: #666666;
}
.notification .dropdown .dropdown-toggle {
    border: medium none;
    background-color: transparent;
    padding: 10px;
    min-height: 60px;
    line-height: 38px;
}
.notification .dropdown .dropdown-toggle:hover {
    background-color: #ef7719;
}
.notification .dropdown .dropdown-toggle i {
    color: #ffffff;
    font-size: 18px;
}
.notification .dropdown .dropdown-toggle .badge {
    background-color: #3f5467;
    position: absolute;
    padding: 2px 6px 3px 5px;
    top: 14px;
    right: 2px;
    font-size: 10px;
    font-weight: normal;
    font-family: tahoma;
}
.notification .dropdown .dropdown-toggle .new{
    background-color: #dc143c !important;
}
.notification .dropdown .dropdown-toggle .avatar {
    border-radius: 20px;
    float: left;
    margin-right: 6px;
}
.notification .dropdown .dropdown-toggle .caret {
    float: right;
    margin: 18px 0 0 6px;
    display: block;
    border-top: 4px solid #cccccc;
}
.notification .dropdown .dropdown-menu::before {
    content: "";
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;

}
.notification .dropdown .dropdown-menu {
    border: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-radius: 0;
    margin: 0;
    padding: 0;
    right: 0;
    left: auto;
    width: 300px;
}
.notification .dropdown .dropdown-menu li {
    border-bottom: 1px solid #eeeeee;
}
.notification .dropdown .dropdown-menu li:last-child {
    border-bottom: medium none;
}
.notification .dropdown .dropdown-menu li a {
    cursor: pointer;
    padding: 6px 10px;
}
.notification .dropdown .dropdown-menu li i {
    color: #666666;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
    font-size: 14px;
}
.notification .dropdown .dropdown-menu li img {
    float: left;
    margin-right: 8px;
}
.notification .dropdown .dropdown-menu li .title {
    color: #555555;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 12px;
}
.notification .dropdown .dropdown-menu li .date {
    color: #888888;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
}
.notification .dropdown .dropdown-menu li .desc {
    color: #909090;
    font-size: 11px;
    white-space: normal;
}
/******************** additional button ********************/
.header .addin-btn {
    float: right;
    margin-right: 10px;
}
.addin-btn a {
    display: block;
    padding: 10px;
    min-height: 60px;
    line-height: 38px;
}
.addin-btn a:hover {
    background-color: #f7f7f7;
}
.addin-btn i {
    color: #777777;
    font-size: 18px;
}
/******************** breadcrumb ********************/
.breadcrumb {}
.breadcrumb ul {
    margin: 6px 0;
    padding: 0;
    list-style: none;
    float: left;
}
.breadcrumb ul li {
    color: #859cae;
    float: left;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0;
    position: relative;
    line-height: 18px;
}
.breadcrumb ul li::after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    right: -2px;
    font-size: 12px;
    color: #859cae;
    line-height: 18px;
}
.breadcrumb ul li:last-child::after {
    display: none;
}
.breadcrumb ul li a {
    color: #adbcc7;
    cursor: pointer;
}
.breadcrumb ul li a:hover {
    color: #adbcc7;
}
/******************** sidebar ********************/
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebar ul li {}
.sidebar ul li a {
    color: #dedede;
    cursor: pointer;
    display: block;
    padding: 8px 20px;
}
.sidebar ul li a:hover {
    text-decoration: none;
}
.sidebar ul li a i {
    margin-top: 2px;
    margin-right: 8px;
}
.sidebar ul li a i.fa-caret-up,
.sidebar ul li a i.fa-caret-down {
    float: right;
}
.sidebar ul li.title {
    color: #70829a;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 14px;
}
.sidebar .sub-menu {
    background-color: #282d33;
    display: none;
    padding-left: 20px;
}
/******************** errors ********************/
.page-content .errors {}
.page-content .error-number {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;
    color: #4a89dc;
    font-size: 152px;
    font-family: fantasy;
    text-align: center;
}
.page-content .error-title {
    color: #aaaaaa;
    display: block;
    font-size: 30px;
    font-family: arial;
    margin: 10px 0;
    text-align: center;
}
.page-content .error-message {
    color: #888888;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
}
/******************** alerts ********************/
.alert-blue {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #6c9fe3;
}
.alert-green {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #8cd481;
}
.alert-blue2 {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #5dbde0;
}
.alert-yellow {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #f8c969;
}
.alert-red {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #ed7764;
}
.alert-green2 {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #50ccad;
}
.alert-violet {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #b09ae4;
}
/******************** additional button ********************/
.table-panel {
    border: 1px solid #e5e5e5;
}
.table-panel caption {
    background-color: #fafafa;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    color: #666666;
    font-weight: bold;
    padding: 10px;
}
.table-panel caption a {
    float: right;
}
.table-panel caption a.link {
    color: #4a89dc;
    font-weight: bold;
}
.table-panel caption a.btn {
    border-radius: 3px;
}
.table-panel caption a.btn i {
    font-size: 14px;
}
.table-panel i {
    font-size: 8px;
    margin-right: 6px;
}
.table-panel > thead > tr > th {
    border-bottom: none;
    color: #777777;
}
.table-panel > tbody > tr > td,
.table-panel > tbody > tr > th,
.table-panel > tfoot > tr > td,
.table-panel > tfoot > tr > th,
.table-panel > thead > tr > td,
.table-panel > thead > tr > th {
    border-top: 1px solid #e5e5e5;
    color: #888888;
    vertical-align: middle;
}
/******************** table list ********************/
.table-list {}
.table-list caption {
    background-color: #f5f5f5;
}
.table-list > thead > tr > th,
.table-list > thead > tr > td {
    background-color: #fafafa;
}
.table-list > thead > tr > th,
.table-list > thead > tr > td,
.table-list > tbody > tr > th,
.table-list > tbody > tr > td,
.table-list > tfoot > tr > th,
.table-list > tfoot > tr > td,
.table-list > tbody > tr > td.filter {
    text-align: center;
}
.table-list > thead > tr > th.first-name,
.table-list > thead > tr > th.last-name,
.table-list > thead > tr > th.email,
.table-list > tbody > tr > td.first-name,
.table-list > tbody > tr > td.last-name,
.table-list > tbody > tr > td.email,
.table-list > tbody > tr > td.first-name,
.table-list > tbody > tr > td.last-name,
.table-list > tbody > tr > td.email {
    text-align: left;
}
.table-list > tbody > tr > td.first-name input,
.table-list > tbody > tr > td.last-name input,
.table-list > tbody > tr > td.email input {
    margin: inherit;
}
.filter input {
    border: 1px solid #d6d6d6;
    display: block;
    margin: auto;
    padding: 2px 4px;
    width: 100%;
}
.filter .dropdown .dropdown-toggle {
    background-color: transparent;
    border: 1px solid #d6d6d6;
}
.filter .dropdown .dropdown-menu {
    border-radius: 0;
    left: auto;
    right: 0;
    padding: 0;
}
.filter .dropdown .dropdown-menu li a {
    padding: 2px 4px;
}
.filter-date input:first-child {
    margin-bottom: 4px;
}
.actions {}
.actions .btn-group {
    min-width: 98px;
}
.action .dropdown {
    display: inline-block;
}
.action .dropdown .dropdown-button {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    float: left;
}
.action .dropdown .dropdown-toggle {
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
    float: left;
    margin-left: -1px;
}
.action .dropdown .dropdown-menu {
    border-radius: 0;
    left: auto;
    right: 0;
    padding: 0;
}
.action .dropdown .dropdown-menu li a {
    padding: 4px 6px;
}
/******************** colors ********************/
.cl-red {color: #ec6f5a;}
.cl-orange {color: #f6bb42;}
.cl-yellow {color: #f7c65f;}
.cl-green {color: #8cd481;}
.cl-green2 {color: #50ccad;}
.cl-blue {color: #55badf;}
.cl-blue2 {color: #6c9fe3;}
.cl-violet {color: #a992e2;}
.bg-violet {background-color: #a992e2;}
.bg-blue {background-color: #55badf;}
.bg-blue2 {background-color: #6c9fe3;}
.bg-green {background-color: #8cd481;}
.bg-green2 {background-color: #50ccad;}
.bg-red {background-color: #ec6f5a;}
.bg-yellow {background-color: #f7c65f;}
.bg-pink {background-color: #eb4b8a;}
/******************** dashboard panel ********************/
.panel-wb {
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 10px 136px 10px 10px;
    position: relative;

}
.panel-wb i {
    font-size: 120px;
    position: absolute;
    right: 6px;
    bottom: -30px;
    opacity: 0.46;
}
.panel-wb h1 {}
.panel-wb .desc {}
/******************** flat panel ********************/
.panel-flat {
    border: 1px solid #e5e5e5;
    border-radius: 0;
    color: #666666;
}
.panel-flat .panel-heading {
    border-bottom: 1px solid #e5e5e5;
    background-color: #fafafa;
}
.panel-flat .panel-body {}
.panel-flat .panel-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
}
/******************** flat form ********************/
.form-flat {}
.form-flat .form-control {
    border-radius: 0 !important;
    border: 1px solid #dddddd;
    box-shadow: none;
}
.form-flat .form-control[disabled],
.form-flat .form-control[readonly],
.form-flat fieldset[disabled] .form-control {
    background-color: #fafafa;
}
.form-flat .checkbox input[type=checkbox],
.form-flat .checkbox-inline input[type=checkbox],
.form-flat .radio input[type=radio],
.form-flat .radio-inline input[type=radio] {
    margin-top: 2px;
}

.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.chart svg,
.chart canvas {
    width: 100% !important;
}
