/*- panel modules ************************************************************/
.panel-module {}
.panel-module .panel-heading {
    font-size: 14px;
    font-weight: bold;
}
/*- table modules ************************************************************/
.table-module {
    margin: 0;
}
.table-module thead tr th,
.table-module tbody tr td {
    vertical-align: middle;
}
.table-module thead tr  th.version,
.table-module thead tr  th.actions,
.table-module tbody tr  td.version,
.table-module tbody tr  td.actions {
    text-align: center;
}